<html>
   <head>
   </head>
   <body>
      <p>
         hello webmaster,
         the crawler has discovered new albums.  To send new album notifications to
         the list, follow the link(s) below:
      </p>

