<html>
   <head>
   </head>
   <body>
     There is a new album on the Mayfield Photo Gallery: 
     <br>
     <a href="http://beanpictures.host:789/displayDir.php?dir={path}" style="font-size:28px">{album}</a>
     <br><br>
     <div style="font-size:10px">
     Tired of these emails? click to 
     <a href="http://beanpictures.host:789/unsubscribe.php?user={user}&key={key}">unsubscribe</a>
     </div>
   </body>
</html>
